@font-face {
    font-family: myFont;
    src: url(sora.ttf);
}
*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFont;
    
}
html{
    margin: 0 5vw 0;
    font-size: 16px;
    scroll-behavior: smooth;

    
}
a{
    text-decoration: none;
}
.preload{
    width: 100%;
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #77b3d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    transition-property: opacity;
    /* margin: 0; */
}
#preloadImg{
    height: 50px;
    animation: preload 2s ease  infinite alternate ;
}
.preload-finish{
    opacity: 0;
    pointer-events: none;
}
@keyframes preload{
  10%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(-50px);
  }
  to{ 
    transform: translateX(50px);
  }
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1.5rem 0 ;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #fff;
    width: 100%;
}

.logo{
    display: flex;
    gap:1em;
}
nav >ol{
   display: flex;
   gap: 1rem;
   padding: 0.5em;
}
ol> li{
    list-style: none;
    /* padding: 10px; */
}
main{
    
    display: flex;
    /* margin: 40px 50px 0; */
    /* justify-content: space-between; */
    /* align-items:center; */
    color: #1A3967;
    /* gap: 1rem; */
    /* width: 100%; */
    /* height: 5%; */
    
}
.mainContent >h2{
    font-size: 1.5rem;
}

.mainContent{
    /* width:30% ; */
    /* height: 400px; */
    
}
.mainImage{
 width: 50vw;
 /* width: 100%; */
 /* height: auto; */
 
}
.learn{
    background: #D6A419;
    margin: 15px ;
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    }
    .start{
        border: none;
        background-color: transparent;
        margin-left: 10px ;
        color: black;
        font-weight: bold;
        margin: 15px ;
    }
    .start:hover{
        color: #d6a419;
    }
    .learn:hover{
    background-color: #AB8314;
    }
.signUp{
    /* border:1px solid black; */
    background-color: #d6a419;
    padding: 5px;
    font-size: 0.8rem;
    border: none;
    font-weight: bold;
}
.trusted{
    margin: 20px auto;
    border-radius: 20px;
    border: 1px solid #D1D7E1;
    width: 100%;
    height: fit-content;

}
.trusted >h3{
    font-size: 1.2rem;
    font-weight: bolder;
    color: #1A3967;
    transform: translate(20px,10px);
}
#trustedImg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow:row wrap;
    gap: 10px;

}
#trustedImg li img{
    /* height: 1em; */
    width: 10vw;
}
.solution{
    background: #FBF6E8;
    border-radius: 20px;
    border: 1px solid black;
    width: 100%;
  
    position: relative;
    /* padding: 15px 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    align-content: center;
    justify-items: center;
    

    
}
.solutionContent{
    display: flex;
    position: relative;
    padding: 10px 0 0 30px;
}
.solutionDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    /* font-size: 12px; */
    /* align-items: center; */

    /* padding: 10px; */

}
.solutionDetails li {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    
    list-style-type: none;
}
.solutionDetails li >img{
    width: 15vw;
    height: 15vh;
}
.solutionDetails li >h3{
    font-size: 1.5rem;
}
#eunomy{
    width: 4em;
    height: 4em;
    position: absolute;
    left: 90%;
    top: 0;
    /* top: 500px; */
    /* bottom: 9000px; */
    /* transform: translateY(-6em); */
    /* bottom:5px; */

}
.compliance{
    margin: 40px 0;
    /* padding: 0 20px;    */
    width: 100%; 
}
.compliance h1{
    /* padding-left: 20px; */
}
.card{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center; */
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 5px 10px rgba(65, 69, 77, 0.05);
    border-radius: 10px;
    height: 300px;
    width: 20vw;
    padding: 40px 0 10px 20px;
    color: #1A3967;
    /* color: red; */
    font-size: 1em;
    margin-left: 10px;
    box-sizing: border-box;

}
.card img{
    width: 8vw;
    border-radius: 50%;
    box-shadow: -20px -30px 4px 5px  #EAF2F9;
    margin-left: 10px;

        /* filter: drop-shadow( 0 0 50px rgba(249,234,242));  */
    
    /* filter: blur(10px);  */
    /* filter: drop-shadow(12px 12px 16pc #EAF2F9); */

 } 
.card img:hover{
    box-shadow: -20px -30px 4px 5px  #F7EDD1;
     /* filter: blur(10px); */
    /* background-color: #1A3967; */
    /* backdrop-filter: blur(5px); */
}
.card > h3{
    font-size: 1em;
    margin: 5px 0 10px 5px;
    word-break: break-word;
    /* font-size: 2em; */
    /* font-weight: 5rem; */
}
.card > span{
    font-size: 16px;
    display: block
    ;
    /* margin: 5px ; */
}
.complianceCard{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px ;
}

.form{
    padding:30px 80px;
    width: 100%;
    /* margin: 0; */
    background-image:linear-gradient( #EAF2F9 50%,#FFFFFF 30%);
}
.form >h3{
    font-size: 1.6rem;
    font-weight: bolder;
    margin: 0 0 20px;
}
.footerForm{
    display: flex;
    flex-flow: wrap;
    /* justify-content: space-between; */
    gap: 20px;
    background: #FFFFFF;
    border: 1px solid #E8EBF0;
    box-shadow: 0px 5px 10px rgba(65, 69, 77, 0.05);
    border-radius: 10px;
    width: 100%;
    padding: 20px;
}
#formData >label{
    font-size: 1rem;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
    font-weight:bolder ;
}
#numberLabel{
    transform: translateX(10vw);
}
.detailsForm div >#numberLabelmobile{
    /* display: none; */
}

#formData >input,select,textarea,#email,#number {
    outline-color:  #D6A419;
    padding: 5px 10px; 
    border-radius: 10px;
    margin-top: 10px;

}

#Industry,#bussiness{
    width: 40vw;
    height: 30px;
}
#email,#number{
    width: 15vw;
    /* height: 30px; */
}
.detailsForm{
    display: flex;
    flex-flow: wrap;
    gap: 10px;
    padding: 10px 0;
}
#formButton{
    background: #E6C875;
    border-radius: 5px;
    color: #fff;
    width: 70%;
    height: 30px;
    border: none;
    padding: 5px;
    font-size: 14px;
    
}
.security{
    border-radius:20px;
    background-color: #1A3967;
    padding: 20px 40px;
    width: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    color: #fff;
}
.security >div h3{
    font-size: 18px;
}
.security > div p{
    font-size: 16px;
    margin: 20px 0 ;
}
.security >button{
  display: block;
  padding: 5px;
  background-color: #D6A419;
  border-radius: 10px;
  border: none;
}
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: center; */
    margin-top: 30px;
}
/* .eunomyLink{
    display: flex;
    gap: 10px;
}
.eunomyLink >div ol a{
    margin: 0;
} */
#eunomyFoot{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    background: #496185;
    border-radius: 20px;
    padding: 15px 30px;
    color: #fff;
}
#eunomyFoot >ol {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;

}
@media (max-width:600px) {
    #eunomy{
        /* width: 4em; */
        /* height: 4em; */
        /* position: sticky; */
        /* left: 89%; */
        /* bottom: 0; */
        /* top: 500px; */
        /* top: 0; */
        /* bottom: 9000px; */
        transform: translateY(500em);
        /* bottom: 100px; */
    
    }
    .solution{
        
    }  
    /*Trusted*/
    .trusted{
        /* margin: 20px auto; */
        /* border-radius: 20px; */
        /* border: 1px solid #D1D7E1; */
        /* width: 100%; */
        height: 12vh;
    }
    /*compliance*/
    .card{
        height: 180px;
        padding: 10px;
        /* width: vw; */
    }
    .card > h3{
        /* margin: 5px 0 10px 5px; */
        font-size: 0.5em;
        /* font-weight: 5rem; */
        color: red;
    } 
    .card > span{
        font-size:6px;
        /* margin: 0 5px 10; */
        color: red;
    }
    /*Compliance card*/
    .card img{
        /* width: 200px; */
        box-shadow: -8px -5px 4px 5px  #EAF2F9;
        margin: 10px 0 0 10px;    
     } 
    .card img:hover{
        box-shadow: -8px -5px 4px 5px  #F7EDD1;
        
    }
    /*number label*/
    
    
    /*form Button*/
    #formButton{
        width: 250px;
    }
    .form{
        padding:30px 30px;
    
  
    }
    .form >h3{
        font-size: 1.6rem;
        font-weight: bolder;
        margin: 0 0 20px;
    }
    .footerForm{
       width: 100%;
    }
    #formData >label{
        font-size: 0.7rem;
    }
    #Industry,#bussiness{
       
    }
    #email,#number{
     width: 150px;  
    }
    #numberLabelmobile{
        display: flex;
    }
    /*solutionDetails*/
    .solutionDetails{
        display: flex;
        flex-direction: column;
    }
    /*trusted*/
    .trusted >h3{
        font-size: 0.5rem;
        font-weight: bold;
        color: #1A3967;
        transform: translate(10px,5px);
    }
}


